.breadcrumb-item {
    cursor: pointer;
    display: inline-block;
    &:last-of-type{
        cursor: not-allowed;
        pointer-events: none;
        a { 
            color: #000;
        }
    }
}