:host-context(.ant-menu-inline-collapsed) > .ant-menu-item,
:host-context(.ant-menu-inline-collapsed)
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-item,
:host-context(.ant-menu-inline-collapsed)
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > ::ng-deep
    .ant-menu-submenu
    > .ant-menu-submenu-title,
:host-context(.ant-menu-inline-collapsed) > ::ng-deep .ant-menu-submenu > .ant-menu-submenu-title {
    left: 0;
    padding: 0 calc(50% - 16px / 2);
    text-overflow: clip;
}
:host-context(.ant-menu-inline-collapsed) > .ant-menu-item .ant-menu-submenu-arrow,
:host-context(.ant-menu-inline-collapsed)
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-item
    .ant-menu-submenu-arrow,
:host-context(.ant-menu-inline-collapsed)
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > ::ng-deep
    .ant-menu-submenu
    > .ant-menu-submenu-title
    .ant-menu-submenu-arrow,
:host-context(.ant-menu-inline-collapsed)
    > ::ng-deep
    .ant-menu-submenu
    > .ant-menu-submenu-title
    .ant-menu-submenu-arrow {
    display: none;
}

:host-context(.ant-menu-inline-collapsed) > .ant-menu-item .anticon,
:host-context(.ant-menu-inline-collapsed)
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-item
    .anticon,
:host-context(.ant-menu-inline-collapsed)
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-submenu
    > .ant-menu-submenu-title
    .anticon,
:host-context(.ant-menu-inline-collapsed) > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
    margin: 0;
    font-size: 16px;
    line-height: 40px;
}
:host-context(.ant-menu-inline-collapsed) > .ant-menu-item .anticon + span,
:host-context(.ant-menu-inline-collapsed)
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-item
    .anticon
    + span,
:host-context(.ant-menu-inline-collapsed)
    > ::ng-deep
    .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-submenu
    > .ant-menu-submenu-title
    .anticon
    + span,
:host-context(.ant-menu-inline-collapsed)
    > ::ng-deep.ant-menu-submenu
    > .ant-menu-submenu-title
    .anticon
    + span {
    display: inline-block;
    max-width: 0;
    opacity: 0;
}
:host-context(.ant-menu-inline-collapsed) .anticon {
    display: inline-block;
}
:host-context(.ant-menu-inline-collapsed) .ant-menu-item-group-title {
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ant-menu-item-group-list {
    margin: 0;
    padding: 0;
}
.ant-menu-item-group-list .ant-menu-item,
.ant-menu-item-group-list .ant-menu-submenu-title {
    padding: 0 16px 0 28px;
}
.ant-menu-root.ant-menu-inline,
.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right {
    box-shadow: none;
}
:host-context(.ant-menu-inline-collapsed)
    ::ng-deep
    .ant-menu-item
    > .ant-menu-inline-collapsed-noicon,
:host-context(.ant-menu-inline-collapsed)
    ::ng-deep
    .ant-menu-submenu
    .ant-menu-submenu-title
    > .ant-menu-inline-collapsed-noicon {
    font-size: 16px;
    text-align: center;
}
