.layout-box {
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    overflow-x: hidden;
}
.app-aside {
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    background-color: #fff;
    height: 100vh;
    overflow: auto;
}

.app-container {

}
.app-header {

}
.container-box {
    overflow: auto;
    height: 100%;
    background-color: #fff;
}
.inner-content {
    padding: 0 16px;
    overflow: auto;
}
