<nz-sider
    class="sider-box"
    nzTheme="light"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
>
    <div class="logo">{{ isCollapsed }}</div>
    <ul nz-menu nzTheme="light" nzMode="inline" class="sider-ul">
        <ng-container
            *ngTemplateOutlet="menuLoop; context: { $implicit: AsideRoutes }"
        ></ng-container>
        <ng-template #menuLoop let-menus>
            <ng-container *ngFor="let menu of menus">
                <ng-template [ngIf]="!menu.children && !menu.data.hidden">
                    <li
                        nz-menu-item
                        nzMatchRouter
                        [nzPaddingLeft]="isCollapsed ? 0 : menu.data.level * 24"
                    >
                        <a [routerLink]="menu.path" routerLinkActive="router-active"
                            ><i nz-icon [nzType]="menu.data.icon"></i>
                            <span>{{ menu.data.title }}</span>
                        </a>
                    </li>
                </ng-template>
                <ng-template [ngIf]="menu.children && !menu.data.hidden">
                    <li
                        nz-submenu
                        [nzTitle]="menu.data.title"
                        [nzIcon]="menu.data.icon"
                        [nzOpen]="menu.data.submenuOpen"
                        [nzPaddingLeft]="isCollapsed ? 0 : menu.data.level * 24"
                        (nzOpenChange)="openHandler(menu.data)"
                    >
                        <ul>
                            <ng-container
                                *ngTemplateOutlet="menuLoop; context: { $implicit: menu.children }"
                            ></ng-container>
                        </ul>
                    </li>
                </ng-template>
            </ng-container>
        </ng-template>
    </ul>
</nz-sider>
