.sider-box {
    height: 100%;
    .logo {
        height: 64px;
        line-height: 64px;
        border-right: 1px solid #f0f0f0;
    }
}

:host-context(.ant-menu-submenu-title) .router-active {
    color: #1890ff;
}
