<nz-avatar
    nzIcon="user"
    nz-dropdown
    [nzDropdownMenu]="menu"
    [nzSrc]="avatarSrc"
    [nzAlt]="'A'"
    class="avatar-box"
></nz-avatar>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item *ngFor="let item of dropdownList" class="dropdown-item">
            <ng-template [ngIf]="item.title !== 'GitHub'">
                <i nz-icon class="icon" [nzType]="item.icon" nzTheme="outline"></i>
                <span class="title">{{ item.title }}</span>
            </ng-template>
            <ng-template [ngIf]="item.title === 'GitHub'">
                <a href="https://github.com/liuzhao2580/Angular-Project-Admin" target="_block"
                    ><i nz-icon class="icon" [nzType]="item.icon" nzTheme="outline"></i>
                    <span class="title">{{ item.title }}</span></a
                >
            </ng-template>
        </li>
    </ul>
</nz-dropdown-menu>
